@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select, input, textarea{
    border: 1px solid rgb(255, 150, 13);
    border-radius: 5px;
    outline: none;
}

.active{
    background-color: #e29300;
    border-color: rgb(255, 150, 13);
}